<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to Zuper Chat</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div style="font-size:180%">
            Zuper Chat:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('stats') }}">Stats</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% else %}
            <a href="{{ url_for('chat') }}">Chat</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <p style="margin-left:80%;">Hello,{{current_user.username}}!</p>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
