{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/chat.js') }}"></script>

<style>
  .Dmessages{
    overflow: auto;
    width: 80%;
    max-height: 50%;
    padding 5px;
    border: solid 1px black;
  }
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>

<a href="{{url_for('create_new_chat')}}">Create new chat</a>
<!-- <input type="button" onclick="location.href='{{ url_for('index') }};" value="Create new chat" />
-->
<div class="Dmessages">
<ul id="messages">

{% set j = previous_messages|length %}
{% for i in range(previous_messages|length) %}

{{ previous_messages[i][0] }}: {{ previous_messages[i][1] }}
<br>

{% endfor %}
</ul>
</div>
<input type="text" id="myMessage">
<button id="sendvoice">Voice</button>
<br>
<button id="sendbutton">Send</button>
<br>
{% endblock %}
