{% extends "base.html" %}

{% block content %}
<h3>Statistics</h3>
<br>
<div>
  <h2>Average quantity of words in sentence is: <b> {{ av_words }} </b></h2>
</div>
<br>
<br>
<div>
  <h3>Most active users:</h3>
  <canvas id="mostActiveUsersBar" height="400"></canvas>
</div>
<br>
<br>
<div>
  <h3>Top 5 most active users:</h3>
  <canvas id="top5Users" height="300"></canvas>
</div>
<br>
<br>
<div>
  <h3>Activity of users depending on the day of the week:</h3>
  <canvas id="statByDaysOfTheWeek" height="400"></canvas>
</div>
<br>
<br>
<div>
  <h3>Activity of users depending on the hour of the day:</h3>
  <canvas id="statByHours" height="400"></canvas>
</div>
<br>
<br>

<script>
  var userActivity = {{ user_activity|tojson }};
  var timeStats = {{ time_stats|tojson }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="{{ url_for('static', filename='javascript/stats.js') }}"></script>
{% endblock %}
